.steps {
  padding-top: 105px;
  padding-bottom: 60px;
  background: rgba(51, 51, 51, 1);
  min-height: 306px;

  &__text {
    font-family: "Aleo";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    align-items: center;
    padding-top: 21px;
    text-align: center;
  }

  .list__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
