.why {
  background: url("../img/WhyBackground.png") center center no-repeat;
  background-size: cover;
  min-height: 704px;

  &__title {
    font-family: "Aleo", sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin-top: 190px;
    color: white;
  }

  &__text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 3px;
    color: white;
    margin-bottom: 32px;
  }

  &__button {
    width: 213px;
    height: 60px;
    background: #5373fd;
    font-family: "Aleo", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #ffffff;
    border-style: none;
  }

  &__button:hover {
    background: darken(#5373fd, 5%);
    transform: scale(1.02);
  }

  &__button:active {
    background: darken(#5373fd, 10%);
    transform: scale(1.02);
  }

  .img__wrapper--1 {
    width: 350px;
    height: 220px;
    margin-top: 124px;
    margin-bottom: 16px;
  }
  .img__wrapper--2 {
    width: 350px;
    height: 220px;
    margin-left: 40px;
  }
}
